body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.3rem;
    font-family:cursive;
}

a{
    text-decoration: none;
    color: aliceblue;
}
header{
    display: flex;
    background: black;
    padding: 20px;/*preenchimento/do conteudo pra fora*/
    align-items: center;
    flex-wrap: wrap;/*enrolar*/
    justify-content: space-between; /*justificar conteúdo*/
}
.menu{/*classe no html olhar*/
    display: flex;
}
.menu li{
    margin-left: 10px;
}
.menu li a{
    display: block;
    padding: 10px;
    background: tomato;
}
h1{
    text-align: center;
    margin-top: 100px;
}
img{
    max-width: 100%;
    display: block;
}
.flex{/*wrap= enrolar*/
    display: flex;
    flex-wrap: wrap;/*pode quebrar as linhas como se fosse o <br>*/
    max-width: 800px;
    margin: 0 auto;
}
.flex>div{
    flex:  1 1 200px;
    margin: 10px 10px;
}
